body{
    background-color: slategray;
    color: lightblue;
    font-family: Arial, sans-serif;
}

header{
    background-color: lightslategray;
    font-family: "Arial Black", sans-serif;
    width: 100%;
}

h1{
    background-color: steelblue;
    font-size: 45px;
    width: 100%;
    margin: auto;
}

nav ul{
    font-size: 18px;
    color: black;
    margin-left: 1000px;
    line-height: 1.6em;

}

nav ul li{
    display: inline-block;
}

section{
    background-color: lightslategray;
    font-size: 20px;
    width: 65%;
    margin: auto;
}

footer{
    font-size: 12px;
    margin-top: 800px;
}

